.App {
  text-align: center
}

body {
  font-family: 'Jolly Lodger', cursive;
}

.header {
  font-family: 'Jolly Lodger', cursive;
}

.card-title {
  font-family: 'Jolly Lodger', cursive;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* src/ImageSlider.css */
.slick-dots {
  bottom: -30px; /* Ajusta según sea necesario */
}

.slick-dots li button:before {
  font-size: 12px;
  color: #8792eb;
}

.slick-dots li.slick-active button:before {
  color: #ff4081;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
